<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top w-100">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="./images/logo_jal2.png" alt="Logotipo de la comisión estatal del agua Jalisco" class="logo" style="height: 50px;" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lago de Chapala
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/#historicos">Histórico</a></li>
            <li><a class="dropdown-item" href="/#ubi-dim">Ubicación y dimensiones</a></li>
            <li><a class="dropdown-item" href="/#batime">Batimetría</a></li>
            <li><a class="dropdown-item" href="/#gale">Galería</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/graficas">Gráficas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/datos">Datos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>