<%- include("partials/header") %>
<%- include("partials/navbar") %>
<div class="section">
    <h1>Nivel actual</h1>
    <figure>
        <img src="./images/Nivel.png" alt="Gr치fica del nivel actual de lago de Chapala" class="grafic">
        <figcaption>Label lago de chapala</figcaption>
    </figure>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error ex est corrupti porro exercitationem, facilis magnam vitae quisquam, numquam veniam rerum, consequuntur sint itaque aliquam similique aperiam. Eligendi, quia. Perferendis.</p>
    <hr/>
</div>
<div class="section">
    <h1>Cota</h1>
    <figure>
        <img src="./images/Cota.png" alt="Gr치fica de la cota del lago de Chapala" class="grafic">
        <figcaption>Label lago de chapala</figcaption>
    </figure>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error ex est corrupti porro exercitationem, facilis magnam vitae quisquam, numquam veniam rerum, consequuntur sint itaque aliquam similique aperiam. Eligendi, quia. Perferendis.</p>
    <hr/>
</div>
<div class="section">
    <h1>Volumen</h1>
    <figure >
        <img src="./images/Volumen.png" alt="Gr치fica del volumen del lago de Chapala" class="grafic">
        <figcaption>Label lago de chapala</figcaption>
    </figure>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error ex est corrupti porro exercitationem, facilis magnam vitae quisquam, numquam veniam rerum, consequuntur sint itaque aliquam similique aperiam. Eligendi, quia. Perferendis.</p>
    <hr/>
</div>
<div class="section">
    <h1>Comportamiento</h1>
    <figure>
        <img src="./images/Comportamiento.png" alt="Gr치fica del comportamiento del lago de Chapala" class="grafic">
        <figcaption>Label lago de chapala</figcaption>
    </figure>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error ex est corrupti porro exercitationem, facilis magnam vitae quisquam, numquam veniam rerum, consequuntur sint itaque aliquam similique aperiam. Eligendi, quia. Perferendis.</p>
    <hr/>
</div>
<%- include("partials/footer") %>